<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-info fixed-top" [hidden]="!isadmin">
	<a class="navbar-brand text-white"><img src="../././assets/icon.png" height="30px" width="30px"
			style="border-radius: 5px;"> Vocal Clinic</a>
	<button type="button" class="navbar-toggler bg-light" data-toggle="collapse" data-target="#nav">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse justify-content-between" id="nav">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link text-light font-weight-bold px-3" (click)="logout()" id="tabs">Logout</a>
			</li>
		</ul>
	</div>
</nav>


<div class="container" [hidden]="!isadmin">
	<div>
		<div>
			<app-register></app-register>
		</div>
		<br>
		<hr class="mt-0" style="height:2px; border-width:0; color:gray; background-color:gray;">
		<div>
			<app-doctor-list></app-doctor-list>
		</div>
	</div>
</div>
<!-- col-md-7 -->

<div [hidden]="isadmin">
	<div class="container" [hidden]="isadmin">
		<div
			style="width: 100%; display: flex; height: 100vh; justify-content: center; float: right; padding-top: 25%;">
			<div class="row">
				<div class="col-md-2 text-center">
					<p><i class="fa fa-exclamation-triangle fa-5x" style="color:rgb(6, 35, 35)"></i><br />Status Code:
						403</p>
				</div>
				<div class="col-md-10">
					<h3>OOPS!!!! Sorry...</h3>
					<h5>You are not logged in or you are not an Admin!</h5>
					<p>Sorry, your access is refused due to security reasons of our server and also our sensitive
						data.<br />Please go back to the previous page to continue browsing.</p>
					<a class="btn btn-info" href="javascript:history.back()">Go Back and Login</a>
				</div>
			</div>
		</div>
	</div>
</div>